{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Login - InfoHelp{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" name="username" class="input" placeholder="Usuário" maxlength="150" required="" aria-describedby="id_username_helptext" id="id_username">
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" class="input" placeholder="Senha" required="" id="id_password">
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        <a class="sair" href="{% url "index" %}">SAIR</a>
    </div>
{% endblock content %}