{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Login - InfoHelp{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        <a class="sair" href="{% url "index" %}">SAIR</a>
    </div>
{% endblock content %}