{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Senha Redefinida - InfoHelp{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Senha Redefinida</h2>
    <div class="box-resetar_senha">
        <p>Sua senha foi redefinida com sucesso. Você pode <a href="{% url 'login' %}">fazer login</a> agora.</p>
    </div>
    <div class="gap1 flex">
        <a class="sair" href="{% url 'index' %}">SAIR</a>
        <a href="{% url 'login' %}">
            <p class="esqueci">
                Voltar para o login
            </p>
        </a>
    </div>
</div>
{% endblock %}