{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}E-mail enviado - InfoHelp{% endblock %}

{% block content %}
<div class="form-container">
    <h2>E-mail enviado</h2>
    <div class="box-resetar_senha">
        <p>Enviamos um e-mail com instruções para redefinir sua senha. Verifique sua caixa de entrada.</p>
    </div>
    <div class="gap1 flex">
        <a class="sair" href="{% url 'index' %}">SAIR</a>
        <a href="{% url 'login' %}">
            <p class="esqueci">
                Voltar para o login
            </p>
        </a>
    </div>
</div>
{% endblock %}