{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Esqueci minha senha - InfoHelp{% endblock %}

{% block content %}
<section class="container">
    <div class="titulo-pag">
        <h1>Esqueci minha senha</h1>
    </div>
</section>

<section class="section-resetar_senha container">
    <div class="box-resetar_senha">
        <div class="forms-resetar_senha">
            <form method="post">
                {% csrf_token %}
                <div class="form-grupo">
                    <label for="{{ form.email.id_for_label }}">Digite seu e-mail:</label>
                    {{ form.email }}
                    {% if form.errors.email %}
                        <div class="error">{{ form.errors.email }}</div>
                    {% endif %}
                </div>
                <div class="btn-resetar_senha">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}