{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Redefinir Senha - InfoHelp{% endblock title %}

{% block content %}
    <section class="container">
        <div class="titulo-pag">
            <h1>Redefinir Senha</h1>
        </div>
    </section>

    <section class="section-resetar_senha container">
        <div class="box-resetar_senha">
            <div class="forms-resetar_senha">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-grupo">
                        <label for="{{ form.new_password1.id_for_label }}">Nova senha:</label>
                        {{ form.new_password1 }}
                        {% if form.errors.new_password1 %}
                            <div class="error">{{ form.errors.new_password1 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-grupo">
                        <label for="{{ form.new_password2.id_for_label }}">Confirme a nova senha:</label>
                        {{ form.new_password2 }}
                        {% if form.errors.new_password2 %}
                            <div class="error">{{ form.errors.new_password2 }}</div>
                        {% endif %}
                    </div>
                    <div class="btn-resetar_senha">
                        <button type="submit">Redefinir Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}