{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}E-mail enviado - InfoHelp{% endblock title %}

{% block content %}
    <section class="container">
        <div class="titulo-pag">
            <h1>E-mail enviado</h1>
        </div>
    </section>

    <section class="section-resetar_senha container">
        <div class="box-resetar_senha">
            <p>Enviamos um e-mail com instruções para redefinir sua senha. Verifique sua caixa de entrada.</p>
        </div>
    </section>
{% endblock content %}