* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/*Variáveis*/
:root {
    --text-color: #002451;
    --primary-color: #0051A2;
    --second-color: #007AF0;
    --bg-color: #fff;
    --border-color: #A5A5A5;
    --box-shadow: 2px 2px 20px rgb(14 52 54 / 15%);
    --shadow-2: 1px solid rgba(0, 0, 0, 0.05);
    --shadow-3: 1px solid rgba(0, 0, 0, 0.10);
    --category: #00dc00;
    --delete: #F00000;
}

body {
    background: linear-gradient(to right, var(--text-color), var(--second-color));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.form-container {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

label {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
}

input {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

span {
    font-size: 0.8rem;
    margin: 0.2rem 0;
    display: block;
    text-align: left;
}

button {
    background: var(--second-color);
    color: var(--bg-color);
    border: 1px solid var(--second-color);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--bg-color);
}

p {
    margin: 1rem 0;
    font-size: 1rem;
}

p a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: var(--second-color);
    transition: 0.2s;
}

.sair {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.sair:hover {
    color: var(--primary-color);
    transition: 0.2s;
}

@media (max-width: 500px) {
    .form-container {
        width: 90%;
    }
}



/* Estilizando a lista de erros */
.errorlist {
    color: #d8000c;           /* Vermelho para chamar a atenção */
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 4px;
    list-style: none;         /* Remove os marcadores padrão */
}

/* Estilizando cada item da lista de erros */
.errorlist li {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* Destaque para campos com erro (caso você queira aplicar via JS ou renderização condicional) */
.input-error {
    border: 2px solid #d8000c;
    background-color: #ffe6e6;
}
