@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    display: block;
}

header {
    background: var(--bg-color);
    position: relative; /*para deixar a navbar fixa é só colocar "fixed"*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

section {
    padding: 3rem 0 3rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/*Variáveis*/
:root {
    --text-color: #002451;
    --primary-color: #0051A2;
    --second-color: #007AF0;
    --bg-color: #fff;
    --border-color: #A5A5A5;
    --box-shadow: 2px 2px 20px rgb(14 52 54 / 15%);
    --shadow-2: 1px solid rgba(0, 0, 0, 0.05);
    --shadow-3: 1px solid rgba(0, 0, 0, 0.10);
    --category: #00dc00;
}

/*Barra de Navegação (TELA INICIAL)*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;
}

.logo {
    width: 60px;
    height: 60px;
}

.pesquisar {
    background: var(--bg-color);
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    border: 1px var(--border-color) solid;
}

.btn-pesquisar {
    text-decoration: none;
    color: var(--bg-color);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 200px;
}

/*.pesquisar:hover > .pesquisar-txt {
    width: 200px;
    padding: 0 6px;
}*/

.links {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
}

.login {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 7px;
    border-radius: 15px;
    font-weight: 600;
}

/*Barra de Navegação Padrão*/
.perfil {
    width: 40px;
    height: 40px;
}

.perfil .bx {
    font-size: 40px;
    color: var(--second-color);
}

/*Rodapé*/
footer {
    text-align: center;
    margin-bottom: 100px;
    border-top: var(--shadow-3);
}

.rodape {
    margin-top: 100px;
}

.inicio-rodape {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-content: center;
    gap: 5px;
}

.logo-section {
    margin-bottom: 20px;
}

.logo-rodape img {
    width: 200px;
    height: 200px;
}

.redes-sociais {
    margin: 60px 0 0;
}

.redes-sociais p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--border-color);
}

.icones .bx {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
}

.final-rodape {
    border-top: 1px var(--border-color) solid;
    width: 400px;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #777;
}

/*Produzido (Tela Inicial)*/
.producao {
    background: var(--primary-color);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.producao-section {
    padding: 3rem 0 0;
}

.producao h1 {
    font-size: 40px;
    font-weight: 400;
    color: var(--bg-color);
}

.logo-producao {
    width: 300px;
    height: 300px;
}

/*Apresentação (Tela Inicial)*/
.header-apresentacao {
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: auto;
}

.imagem {
    height: auto;
}


.textos h1 {
    font-size: 80px;
    font-weight: 700;
    color: var(--bg-color);
}

.textos p {
    margin: 70px 0 90px;
    font-size: 30px;
    font-weight: 400;
    color: var(--bg-color);
}

.btn-recursos {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 50px;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
}

/*Recursos*/
.recursos p {
    color: var(--primary-color);
    text-align: center;
    margin: 100px 0;
    font-size: 24px;
}

.recursos h1 {
    text-align: center;
    font-size: 80px;
    color: var(--text-color);
    margin-bottom: 150px;
}

.recursos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    justify-content: center;
    gap: 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card {
    text-align: center;
}

.icon {
    margin: 0 150px;
}

.icon i {
    color: var(--bg-color);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h2 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}

.card p {
    font-size: 22px;
    color: var(--text-color);
    margin-top: 20px;
}

/*PÁGINA DE LOGIN*/
.body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9dfff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.containerLogin{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.containerLogin p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containerLogin span{
    font-size: 12px;
}

.containerLogin a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containerLogin button{
    background-color: var(--second-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containerLogin button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.containerLogin form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.containerLogin input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-container form h1{
    color: var(--text-color);
    margin-bottom: 40px;
}

.form-container form button {
    margin-top: 30px;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerLogin.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containerLogin.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containerLogin.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #0051A2, #007AF0);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containerLogin.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containerLogin.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.containerLogin.active .toggle-right{
    transform: translateX(200%);
}

.form-container .sair {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
    margin: 40px 0 0;
}

/*Início*/
.inicio-pag {
    border-bottom: var(--shadow-3);
}

.inicio-conteudo {
    text-align: center;
    margin: 50px 0 50px;
}

.inicio-conteudo h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
    color: var(--second-color);
}

.inicio-conteudo p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.principais-cursos {
    text-align: center;
}

.principais-cursos h1 {
    margin: 52px 0 100px;
    color: var(--text-color);
    font-weight: 700;
}

/*Card de Curso*/
.cursos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 50px;
}

.card-curso {
    box-shadow: var(--box-shadow);
    border: var(--shadow-3);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: block;
}

.img-curso {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: var(--shadow-2);
}

.img-curso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-curso h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    margin: 20px 20px;
    text-align: center;
}

.card-curso p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.horario-nivel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 20px 20px;
}

.categoria p {
    color: var(--category);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 20px 0;
    text-align: center;
}

/*TÍTULO DAS PÁGINAS*/
.titulo-pag {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 50px;
    margin: 120px 0 72px;
}

.titulo-pag h1 {
    color: var(--text-color);
    font-weight: 700;
}

.titulo-pag p {
    font-size: 24px;
}

.titulo-pag p .bx {
    font-size: 16px;
}

/*Busca*/

.link-voltar {
    color: var(--second-color);
    font-size: 24px;
}

.caixa-busca {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 48px;
    border-radius: 20px;
    border: var(--shadow-3);
}

.tipo-busca {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 15px;
}

.titulo-busca {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
}

.descricao-busca {
    display: -webkit-box;
    -webkit-line-clamp: 3; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
    overflow: hidden;
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.btn-busca {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
}

.img-busca {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: var(--shadow-2);
}

.img-busca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}