@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    display: block;
    max-width: 100vw;
    overflow-x: hidden;
}




header {
    background: var(--bg-color);
    position: relative; /*para deixar a navbar fixa é só colocar "fixed"*/
    top: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

section {
    padding: 3rem 0 3rem;
}

img {
    width: 100%;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1068px;
}

.alert {
    padding: .75rem;
    margin-bottom: 3rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;

    transition: opacity 0.5s ease-out;
}

.alert-pag-curso {
    padding: .75rem;
    margin-top: 3rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;

    transition: opacity 0.5s ease-out;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}




/*Variáveis*/
:root {
    --text-color: #002451;
    --primary-color: #0051A2;
    --second-color: #007AF0;
    --bg-color: #fff;
    --border-color: #A5A5A5;
    --box-shadow: 2px 2px 20px rgb(14 52 54 / 15%);
    --shadow-2: 1px solid rgba(0, 0, 0, 0.05);
    --shadow-3: 1px solid rgba(0, 0, 0, 0.10);
    --category: #00dc00;
    --delete: #F00000;
}



/*TÍTULO DAS PÁGINAS*/
.titulo-pag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin: 2rem 0 0;
}

.titulo-secundario {
    margin-left: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}


/*altera o espaçamento do nome na exibição do curso*/
div .titulo-pag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin: 3rem 0 .5rem;
    
}


/*Barra de Navegação (TELA INICIAL)*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;
}

.logo {
    width: 3.75rem;
    height: 3.75rem;
}



.pesquisar {
    background: var(--bg-color);
    height: 1.875rem;
    border-radius: 1.875rem;
    padding: 10px;
    border: 1px var(--border-color) solid;
}

.btn-pesquisar {
    text-decoration: none;
    color: var(--bg-color);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 200px;
}

/*.pesquisar:hover > .pesquisar-txt {
    width: 200px;
    padding: 0 6px;
}*/



.links {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
}

.links a:hover {
    color: var(--second-color);
    transition: 0.2s;
}

.login {
    text-decoration: none;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 7px;
    border-radius: 15px;
    font-weight: 600;
}

.login:hover {
    background-color: var(--bg-color);
    color: var(--second-color);
    transition: 0.2s;
}

.icon-menu {
    width: 2rem;
    height: 2rem;
}

.menu-mobile-icon {
    display: none;
}

.menu-mobile {
    display: none;
}

/*@media provisória*/

@media (width < 800px) {
    .pesquisar {
        display: none;
    }

    .nav {
        justify-content: space-around;
    }

    .links {
        gap: 3rem;
    }
}

@media (width < 425px) {
    .links{
        display: none;
    }

    .nav{
        gap: 10rem;
    }
}



/*Barra de Navegação Padrão*/
.perfil {
    width: 40px;
    height: 40px;
}

.perfil .bx {
    font-size: 40px;
    color: var(--second-color);
}

.perfil .bx:hover {
    color: var(--primary-color);
    transition: 0.2s;
}

/*Rodapé*/
footer {
    text-align: center;
    margin-bottom: 100px;
    border-top: var(--shadow-3);
}

.rodape {
    margin-top: 100px;
}

.inicio-rodape {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-content: center;
    gap: 5px;
}

.logo-section {
    margin-bottom: 20px;
}

.logo-rodape img {
    width: 200px;
    height: 200px;
}

.redes-sociais {
    margin: 60px 0 0;
}

.redes-sociais p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--border-color);
}

.icones .bx {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 40px;
    cursor: pointer;
}

.final-rodape {
    border-top: 1px var(--border-color) solid;
    width: 400px;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #777;
}

/*Produzido (Tela Inicial)*/
.producao {
    background: var(--primary-color);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.producao-section {
    padding: 3rem 0 0;
}

.producao h1 {
    font-size: 40px;
    font-weight: 400;
    color: var(--bg-color);
}

.logo-producao {
    width: 300px;
    height: 300px;
}

/*Apresentação (Tela Inicial)*/
.header-apresentacao {
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: auto;
}

.imagem {
    height: auto;
}


.textos h1 {
    font-size: 80px;
    font-weight: 700;
    color: var(--bg-color);
}

.textos p {
    margin: 70px 0 90px;
    font-size: 30px;
    font-weight: 400;
    color: var(--bg-color);
}

.btn-recursos {
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 50px;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
}

.btn-recursos:hover {
    border: 1px solid var(--text-color);
    color: var(--bg-color);
    background-color: var(--text-color);
    font-weight: 500;
}

/*Recursos*/
.recursos p {
    color: var(--primary-color);
    text-align: center;
    margin: 100px 0;
    font-size: 24px;
}

.recursos h1 {
    text-align: center;
    font-size: 80px;
    color: var(--text-color);
    margin-bottom: 150px;
}

.recursos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    justify-content: center;
    gap: 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card {
    text-align: center;
}

.icon {
    margin: 0 150px;
}

.icon i {
    color: var(--bg-color);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h2 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}

.card p {
    font-size: 22px;
    color: var(--text-color);
    margin-top: 20px;
}



/*Início*/
.titulo {
    text-align: center;

    margin: 3rem 0 2rem;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 28px;

    color: var(--text-color);
}

.inicio-pag {
    border-bottom: var(--shadow-3);
    padding-inline: 0;
}

.inicio-conteudo {
    text-align: center;
    margin: 50px 0 50px;
}

.inicio-conteudo h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
    color: var(--second-color);
}

.inicio-conteudo p {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.principais-cursos {
    margin-bottom: 2rem;
}

.principais-cursos h1 {
    margin: 52px 0 100px;
    color: var(--text-color);
    font-weight: 700;
}

.sem_cursos {
    text-align: justify;

    & h2 {
        text-align: center;
    }
}




/*Card de Curso*/
.cursos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 50px;
}

.card-curso {
    box-shadow: var(--box-shadow);
    border: var(--shadow-3);
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.acesso-curso {
    text-decoration: none;
}

.img-curso {
    display: flex;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: var(--shadow-2);

    align-items: center;
    justify-content: center;
}

.img-curso img {
    object-fit: contain;

    width: 85%;
    height: 85%;
    border-radius: 10px 10px 0 0;
}

.card-curso h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 20px 20px;
    line-height: 1.75rem;

    margin: 1.75rem auto 4.625rem 1.375rem;

}

.card-curso p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.horario-nivel {
    display: flex;
    margin-left: 1.375rem;
    margin-bottom: 1.25rem;
    align-items: end;

    & img {
        width: .875rem;
        aspect-ratio: 1/1;
    }

    & > p {
        color: var(--text-color);
    }

    p:nth-child(2) {
    font-weight: 300;
    font-size: .875rem;
    line-height: 1rem;
    }

    p:nth-child(3) {
        font-weight: 300;
        font-size: .75rem;
        line-height: .875rem;
        display: flex;
        align-items: baseline;
        padding-left: 4.6875rem;
    }

}

.categoria{
    margin-bottom: .75rem;

    & p {
        color: var(--text-color);
        background-color: var(--category);
        border-radius: .625rem;

        font-size: .75rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 1.375rem;
        text-align: center;

        padding: 4px 8px 4px 8px;

        display: inline-block;
    }
}

.titulo-pag h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.titulo-pag p {
    font-size: 24px;
}

.titulo-pag p .bx {
    font-size: 16px;
}



/*Biblioteca*/
.filtro-colecao {
    padding-inline: 1rem;
    margin-right: .8rem;
    color: var(--primary-color);
    border: none;
}

.salvos {
    margin-bottom: 1rem;
}



/*ESTILO DE CATEGORIA PESQUISA*/
.form-categoria {
    display: flex;
    align-items: center;

    & select, button {
        border: none;
    }

    & select{
        padding-inline: 1rem;
        margin-right: .8rem;
        color: var(--primary-color);
    }

    & button {
        background-color: transparent;
    }

    & p {
        font-size: 1.1rem;
        color: var(--primary-color);
    }
}

.bxs-search {
    color: white;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.8rem;
    padding: .6rem;

    cursor: pointer;
}

.bxs-search:hover {
    font-size: 2rem;
    padding: .5rem;
}





.btn-admin_curso {
    margin: 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-admin_curso a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
}

.editar-curso {
    background-color: var(--second-color);
    color: var(--bg-color);
    border: 1px solid var(--second-color);
    border-radius: 15px;
}

.editar-curso:hover {
    background-color: var(--bg-color);
    color: var(--second-color);
    transition: 0.2s;
}

.excluir-curso {
    background-color: var(--delete);
    color: var(--bg-color);
    border: 1px solid var(--delete);
    border-radius: 15px;
}

.excluir-curso:hover {
    background-color: var(--bg-color);
    color: var(--delete);
    transition: 0.2s;
}

/*Busca*/

.link-voltar {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.link-voltar:hover{
    color: var(--second-color);
    transition: 0.2s;
}

.caixa-busca {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 48px;
    border-radius: 20px;
    border: var(--shadow-3);
}

.tipo-busca {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 15px;
}

.titulo-busca {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
}

.descricao-busca {
    display: -webkit-box;
    -webkit-line-clamp: 3; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
    overflow: hidden;
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.btn-busca {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
}

.img-busca {
    width: 810.3px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: var(--shadow-2);
}

.img-busca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*Página do curso*/
.section-centeudo_curso {
    display: flex;
    justify-content: space-between;
}

.voltar-pag_curso {
    text-decoration: none;
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 600;
}

.voltar-pag_curso:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.curso-apresentacao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    height: 800px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.img-curso_pag {
    display: flex;

    margin: 50px 40px 0;
    width: 80%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    border: var(--shadow-2);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
}

.img-curso_pag img {
    width: 85%;
    height: 90%;
    object-fit: contain;
    border-radius: 10px;
}

.descricao-curso {
    display: -webkit-box;
    -webkit-line-clamp: 6; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
    overflow: hidden;
    margin: 50px 50px 0;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-color);
}

.num-conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    gap: 50px;
    margin: 50px 0 0;
}

.num-conteudo p {
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-color);
}

.botao-salvar {
    & #abrir-modal-salvar {
        background-color: var(--second-color);
        border-radius: 3.125rem;
        
        padding: 0.5rem 1rem;

        margin-top: 20rem;

        cursor: pointer;
        border: none;

        font-weight: 700;
        font-size: 1rem;
        line-height: 1.75rem;
        color: var(--bg-color); 
    }

    & #salvar {
        background-color: var(--second-color);
        border-radius: 3.125rem;
        
        padding: 0.5rem 1rem;

        margin-top: 20rem;

        cursor: pointer;
        border: none;

        font-weight: 700;
        font-size: 1rem;
        line-height: 1.75rem;
        color: var(--bg-color);
    }

    & #abrir-modal-salvar:hover {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--bg-color);
    }

    & #salvar:hover {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--bg-color);
    }



    & #remover-de-salvos {
        background-color: var(--delete);
        border-radius: 3.125rem;
        
        padding: 0.5rem 1rem;

        margin-top: 20rem;

        cursor: pointer;
        border: none;

        font-weight: 700;
        font-size: 1rem;
        line-height: 1.75rem;
        color: var(--bg-color); 
    }

    & #remover-de-salvos:hover {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: var(--bg-color);
    }
    
}

#modal-salvar {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    background: rgba(0, 0, 0, 0.453);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;

    & .modal {
        margin: auto;
        display: block;
        position: relative;
        top: 30%;
        max-width: fit-content;
        padding: 3rem 3rem 2rem;
        background-color: var(--bg-color);

        border-radius: 1.5rem;

        & .selecionar-salvo {
            padding-bottom: 2.5rem;

            h3 {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.75rem;
                color: var(--text-color);
                margin-bottom: 1.5rem;
            }

            & div {
                height: 3rem;

                & select {
                    height: 100%;
                    border: 1px solid var(--border-color);
                    padding: .5rem;
                    border-radius: .5rem;
                }

                & button {
                    text-decoration: none;
                    padding: 10px;
                    background-color: var(--second-color);
                    color: var(--bg-color);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 10px;
                    border: 1px solid var(--second-color);
                    margin-left: .5rem;
                    display: inline-block;
                    height: 100%;
                }

                & button:hover {
                    border: 1px solid var(--second-color);
                    background-color: var(--bg-color);
                    color: var(--second-color);
                    transition: 0.2s;
                    cursor: pointer;
                }
            }
        }

        & .criar-salvo {
            padding-bottom: 2rem;

            h4 {
                font-weight: 700;
                font-size: 1.2rem;
                line-height: normal;
                color: var(--text-color);
                margin-bottom: 0.5rem;
            }

            & div {
                height: 3rem;

                & input {
                    height: 100%;
                    border: 1px solid var(--border-color);
                    padding-inline: .5rem;
                    border-radius: .5rem;
                }

                & button {
                    text-decoration: none;
                    padding: 10px;
                    background-color: var(--second-color);
                    color: var(--bg-color);
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 10px;
                    border: 1px solid var(--second-color);
                    margin-left: .5rem;
                    display: inline-block;
                    height: 100%;
                }

                & button:hover {
                    border: 1px solid var(--second-color);
                    background-color: var(--bg-color);
                    color: var(--second-color);
                    transition: 0.2s;
                    cursor: pointer;
                }
            }
        }

        & button {
            text-decoration: none;
            color: var(--text-color);
            font-size: 16px;
            font-weight: 500;
            background: transparent;
            border: none;

            margin-left: .5rem;
        }

        & button:hover {
            color: var(--second-color);
            transition: 0.2s;
            cursor: pointer;
        }
    }
}



.link-aula {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1.125rem;
}

.adicionar-aula {
    width: 50%;
    padding-inline: 4rem;
    padding-bottom: 1.75rem;

    margin-top: 20px;

    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: inline-block;
    margin-inline: 25%;


    & p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.875rem;
        text-align: center;

        padding-top: 2.25rem;

        margin-bottom: 3.75rem;

        color: #000000;
    }

    & a {
        text-decoration: none;

        & h2 {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            border-radius: 3.125rem;
            color: var(--bg-color);
            line-height: 3.75rem;
            margin-block: 3rem 3.125rem;
            background-color: var(--second-color);
        }
    }

    & h1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        background-color: var(--second-color);
        border-radius: 3.125rem;
        color: var(--bg-color);
        line-height: 3.75rem;
    }

    & a:nth-child(3) {
        & h2 {
            background-color: var(--delete);
            color: var(--bg-color);
        }
    }
}


.conteudo-curso {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.titulo_desc-conteudo {
    margin-left: 1.25rem;
    display: inline;
    width: 330px;
    height: fit-content;

    & h1 {
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2.0625rem;

        color: var(--primary-color);

        padding-top: 1.25rem;

        padding-bottom: 1rem;
    }

    & p {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.4375rem;

        color: var(--primary-color);
    }
}

.titulo_desc-conteudo h1 {
    font-weight: 700;
    margin-top: 10px;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
    overflow: hidden;
}

.titulo_desc-conteudo p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 7; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical; /*orientação do texto*/
    overflow: hidden;
}

.img-conteudo_curso {
    width: 284px;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
    border: var(--shadow-2);
    box-shadow: var(--box-shadow);
}

.img-conteudo_curso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.video_texto-curso {
    display: inline-block;
}

.box_criar-curso {
    border: 1px solid var(--border-color);
    width: 300px;
    height: auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.box_criar-curso p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 20px;
}

.btn-criar-curso {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.btn-criar-curso:hover {
    border: 1px solid var(--second-color);
    background-color: var(--bg-color);
    color: var(--second-color);
    transition: 0.2s;
}

/*Criar Curso*/
.box-criar_curso {
    border: 1px solid var(--border-color);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 15px;
}

.forms-criar_curso {
    width: 100%;
    display: flex;
    justify-content: center;
}

.salvar-cancelar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-criar_curso button {
    padding: 10px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: var(--bg-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.btn-criar_curso button:hover {
    transition: 0.2s;
    border: 1px solid var(--second-color);
    background-color: var(--bg-color);
    color: var(--second-color);
}

#descricao {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    resize: vertical;
    max-height: 400px;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}

/*Excluir curso*/
.section-excluir_curso {
    padding: 15rem 0 15rem;
}

.msg-delete {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.box-excluir_curso {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.btn-excluir_curso {
    background-color: var(--delete);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--delete);
    text-transform: uppercase;
    font-size: 16px;
}

.btn-excluir_curso:hover {
    background-color: var(--bg-color);
    color: var(--delete);
    transition: 0.2s;
}

.btn-cancelar {
    text-decoration: none;
    background-color: #777;
    color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #777;
    text-transform: uppercase;
}

.btn-cancelar:hover {
    color: #777;
    background-color: var(--bg-color);
    transition: 0.2s;
}

/*Criar Aula*/
.box-criar_aula {
    border: 1px solid var(--border-color);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 15px;
}

.forms-criar_aula {
    width: 100%;
    display: flex;
    justify-content: center;

    & form {
        width: 90%;
    }
}

.btn-criar_aula button {
    padding: 10px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: var(--bg-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.btn-criar_aula button:hover {
    transition: 0.2s;
    border: 1px solid var(--second-color);
    background-color: var(--bg-color);
    color: var(--second-color);
}



/*Exibição de aula*/
#exibir {
    max-width: 1068px;
    display: flex;
    margin-block: 6.25rem;

    & .aulas {
        min-width: 21.1875rem;
        background-color: var(--second-color);
        height: 100%;
        
        padding-top: 2.5rem;

        margin-right: 3.75rem;

        border-radius: .625rem;

        & .topo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-inline: 1rem;

            margin-bottom: 3.75rem;

            & h1 {
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 3.625rem;
                color: var(--text-color);
            }
        }

        & .item-aulas {
            background-color: var(--bg-color);

            width: 86%;
            margin: auto;
            border-radius: .3125rem;

            display: flex;
            align-items: center;

            padding-block: .75rem;
            padding-left: 1.375rem;
            margin-bottom: 2.8125rem;

            & h1 {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.5rem;

                margin-left: 1rem;

                color: var(--text-color);
            }
        }

        & .item-aulas:hover {
            cursor: pointer;

            background-color: var(--bg-color);

            max-width: calc(85% - .3125rem);
            margin: auto;
            border-radius: .3125rem;

            display: flex;
            align-items: center;

            padding-block: .75rem;
            padding-left: 1.375rem;
            margin-bottom: 2.8125rem;

            border-left: .3125rem solid var(--primary-color);

            & h1 {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.5rem;

                margin-left: 1rem;

                color: var(--text-color);
            }
        }

        & .item-aula-atual {
            background-color: var(--bg-color);

            width: calc(86% - .3125rem);
            margin: auto;
            border-radius: .3125rem;

            display: flex;
            align-items: center;

            padding-block: .75rem;
            padding-left: 1.375rem;
            margin-bottom: 2.8125rem;

            border-left: .3125rem solid var(--primary-color);

            & h1 {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.5rem;

                margin-left: 1rem;

                color: var(--text-color);
            }
        }
    }

    & .img-curso_exi {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        background-color: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 85%;
            height: 85%;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    & .img-icone_exi {
        width: 2.1875rem;
        height: 2.1875rem;

        border: .3125rem solid var(--second-color);
        border-radius: .5rem;
        background-color: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .aula {
        margin: auto;

        & h1 {
            font-weight: 700;
            font-size: 3rem;
            text-align: center;

            color: var(--text-color);

            margin-block: 3rem 3.125rem;
        }

        & .texto {
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.5rem;
            display: flex;
            align-items: center;
            text-align: justify;

            color: var(--primary-color);

            margin-block: 1rem;
        }
    }
}

.voltar-exibir_aula {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
}

@media  (width > 1068px) {
    #exibir {
        margin-inline: auto;
    }
}



/*Perfil*/
.box-perfil {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    height: auto;
    padding: 80px;
}

.info-perfil {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.info-perfil table {
    width: 100%;
    border-collapse: collapse;
}

.info-perfil table td {
    line-height: 2;
}

.info-perfil table th {
    width: 0%;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    padding: 4px 15px 4px 30px;
    text-align: right;
}

.info-perfil table td {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 400;
}

.links-perfil {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.links-perfil button {
    background-color: var(--bg-color);
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

.links-perfil button:hover {
    color: var(--second-color);
    transition: 0.2s;
}

.custom-perfil {
    display: flex;
    justify-content: space-between;
    width: 300px;

    & a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
    }

    & a:hover {
        color: var(--second-color);
        transition: 0.2s;
    }
}

.sair-perfil {
    cursor: pointer;
}



/*Editar Perfil*/
.box-editar_perfil {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    height: auto;
    padding: 50px 50px;
}

.edicao-perfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-perfil {
    padding-top: 0;
}

.forms-editar_perfil{
    width: 100%;
    & form {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    & div:nth-child(3) {
        width: 40%;
    }
}

.form-grupo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-grupo label {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}

.form-grupo input {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    width: auto;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    padding: 5px;
}

.form-grupo select {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    width: auto;
    height: 2.625rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    padding: 5px;
}

.textarea-form {
    height: 200px;

    & textarea {
        height: 100%;
        resize: vertical; /*aqui altera a possibilidade de redimensionamento*/
    }
}

.form-linha {
    display: inline-block;
}

.boxImg-editar_perfil {
    padding: 20px;
}

.boxImg-editar_perfil p {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 500;
}

.img-perfil {
   /*deixar proporção 1/1*/
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid var(--border-color);

    background-color: var(--bg-color);
}

.img-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.boxBtn-add_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-add_img {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: var(--bg-color);
    background-color: var(--second-color);
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
}

.novo-avatar {
    padding-inline: 20px;

    & label {
        display: block;
        margin-bottom: .5rem;
    }
}

.salvar_voltar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 20px;

    gap: 1rem;
}

.btn-salvar_perfil {
    text-decoration: none;
    padding: 10px;
    background-color: var(--second-color);
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--second-color);
}

.btn-salvar_perfil:hover {
    border: 1px solid var(--second-color);
    background-color: var(--bg-color);
    color: var(--second-color);
    transition: 0.2s;
}

.voltar-editar_perfil {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.voltar-editar_perfil:hover {
    color: var(--second-color);
    transition: 0.2s;
}



/*Alterar Senha*/
.section-alterar_senha {
    padding-top: 0;

    & .box-alterar_senha{

        & .forms-alterar_senha{

            & form {

                & div:nth-child(2) {
                    margin-bottom: 1rem;
                }

                & .btn-alterar_senha {
                    padding: 20px;
                    display: inline-block;
                }

                & .btn-alterar_senha_cancelar {
                    display: inline-block;
                }
            }
        }
    }
}





/*RESPONSIVIDADE*/

@media (max-width: 1024px) {
    
    body {
        overflow-x: hidden;
    }

    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    /* TELA INICIAL */
    .pesquisar {
        padding: 0.1rem 0.2rem 0.5rem;
    }

    .btn-pesquisar {
        width: 1.5rem;
        height: 1.5rem;
    }

    .container {
        width: 90%;
    }

    .header-apresentacao {
        padding: 0;
    }

    .imagem {
        height: 37.5rem;
    }

    .textos h1 {
        font-size: 60px;
    }

    .textos p {
        font-size: 20px;
    }

}

@media (max-width: 912px) {

    /*TELA INICIAL*/

    .textos h1 {
        font-size: 50px;
    }

    .textos p {
        font-size: 18px;
    }

    .btn-recursos {
        font-size: 18px;
    }

}

@media (max-width: 912px) {

    /*TELA INICIAL*/
    .imagem {
        height: 37.5rem;
    }

    .textos h1 {
        font-size: 45px;
    }

    .textos p {
        font-size: 16px;
    }

    .btn-recursos {
        font-size: 16px;
    }

     /*navbar*/

    .links {
        padding: 1.5rem 4rem;
    }

    .links li {
        display: none;
    }

    .menu-mobile-icon {
        display: block;
    }

    .menu-mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .menu-mobile ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .menu-mobile .links li {
        display: block;
        padding: 1.2rem;
    }

    .menu-mobile .links a {
        padding: 2rem;
    }

    .menu-mobile .links .login {
        background-color: transparent;
        border: none;
        padding: 0;
        display: block;
        font-size: 16px;
        color: var(--text-color);
        font-weight: 400;
    }

    .menu-mobile .login button {
        width: 100%;
    }

    .menu-mobile .login a {
        padding: 2rem;
    }

    .open {
        display: block;
    }

    /*Tela de início*/
    .nav .perfil {
        display: none;
    }

    .nav .links {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    /*TELA INICIAL*/

        /*navbar*/

    .links {
        padding: 1.5rem 4rem;
    }

    .links li {
        display: none;
    }

    .pesquisar {
        display: none;
    }

    .login {
        display: none;
    }

        /*home*/
    .textos h1 {
        font-size: 35px;
    }
    
    .textos p {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 600px) {

    /*TELA INICIAL*/

    .textos h1 {
        font-size: 30px;
    }

    .textos p {
        font-size: 14px;
    }

    .btn-recursos {
        font-size: 14px;
    }

    .recursos h1 {
        font-size: 60px;
    }

    .producao h1 {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 540px) {
    
    /*TELA INICIAL*/

    .apresentacao {
        height: 350px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .imagem {
        display: none;
    }

    .textos h1 {
        font-size: 45px;
    }

    .textos p {
        margin: 30px 0;
        font-size: 16px;
    }

    .btn-recursos {
        font-size: 14px;
        padding: 10px 10px;
    }

    .recursos h1 {
        font-size: 45px;
    }

    .card p {
        font-size: 20px;
        margin-inline: 40px;
    }

    .producao h1 {
        font-size: 18px;
    }

    .logo-producao {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 390px) {

    /*TELA INICIAL*/
    
    .textos h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {

    .logo-rodape img {
        width: 150px;
        height: 150px;
    }

    .redes-sociais p {
        font-size: 1rem;
        margin-bottom: 8px;
    }

}

@media screen and (max-width: 360px) {

    /*TELA INICIAL*/
    
    .textos h1 {
        font-size: 40px;
    }

    .logo-rodape img {
        width: 200px;
        height: 200px;
    }
}