@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    display: block;
}

header {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

section {
    padding: 3rem 0 3rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/*Variáveis*/
:root {
    --text-color: #002451;
    --second-color: #007AF0;
    --bg-color: #fff;
    --border-color: #A5A5A5;
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

/*Menu*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;
}

.logo {
    width: 60px;
    height: 60px;
}

.pesquisar {
    background: var(--bg-color);
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    border: 1px var(--border-color) solid;
}

.btn-pesquisar {
    text-decoration: none;
    color: var(--bg-color);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--text-color);
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 200px;
}

/*.pesquisar:hover > .pesquisar-txt {
    width: 200px;
    padding: 0 6px;
}*/

.links {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
}

.login {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 7px;
    border-radius: 15px;
    font-weight: 600;
}

/*Rodapé*/
footer {
    background-color: var(--bg-color);

}

.rodape{
    width: 400px;
}

.logo-rodape {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-rodape img {
    height: 250px;
    width: 250px;
}

.redes-sociais {
    display: flex;
    justify-content: end;
    align-items: center;
}

.redes-sociais i {
    display: block;
}

.final-rodape {
    border-top: 1px var(--border-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

