{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Cadastro - InfoHelp{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Cadastro</h2>
        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" name="username" class="input" placeholder="Usuário" maxlength="150" required="" aria-describedby="id_username_helptext" id="id_username">
            </div>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" class="input" placeholder="E-mail" maxlength="254" id="id_email">
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" class="input" placeholder="Senha" required="" id="id_password">
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" class="input" placeholder="Senha" required="" id="id_password">
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
        <a class="sair" href="{% url "index" %}">SAIR</a>
    </div>
{% endblock content %}