{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Cadastro - InfoHelp{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Cadastro</h2>
        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button type="submit">Cadastrar</button>
        </form>

        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
        <a class="sair" href="{% url "index" %}">SAIR</a>
    </div>
{% endblock content %}