{% extends "base_usuarios.html" %}
{% load static %}

{% block title %}Cadastro - InfoHelp{% endblock title %}

{% block content %}
    <div class="form-container">
        <h2>Cadastro</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <i class="fa fa-user"></i>
                {{ form.username }}
            </div>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                {{ form.email }}
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                {{ form.password }}
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                {{ form.confirm_password }}
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
    </div>
{% endblock content %}